/* list */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: white;
  height: 5vh;
}

.userLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.user-logout {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
}

.user-logout:hover {
  background-color: gray;
}

.standard {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: darkcyan;
  color: white;
}

.standard:hover {
  background-color: rgb(0, 77, 77);
}

.display {
  width: 100%;
  height: 100%;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  font-size: 40px;
  color: red;
}

.shukka-jisseki-btn {
  padding: 7px 15px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: medium;
}

.shukka-jisseki-btn:hover {
  background-color: darkgreen;
}

.search {
  padding: 10px 30px;
  display: block;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 2ch;
  padding: 10px;
  margin: 0px 150px;

  /*display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid white; */
}

.search-default {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* border-bottom: 1px solid white; */
}

.search-advanced {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* border-bottom: 1px solid white; */
}

.show-search-advanced {
  padding: 5px 20px;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.btn-showSearch {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-search-advanced:hover {
  background-color: rgb(0, 77, 77);
}


.label-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 5px;
  border-bottom: 1px solid white;
}

.data-item-search {
  padding: 0 10px;
  width: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.title-item-search {
  width: 200px;
}

select {
  min-width: 100px;
}

.table {
  margin-top: 10px;
  max-width: 90%;
  padding: 0 10%;
}

.table-container {}

.table table {
  border: 2px solid darkcyan;
  border-collapse: collapse;
}

.table th {
  background-color: darkcyan;
  color: white;
  position: sticky;
  top: -1px;
}

.table th {
  border: 1px solid white;
  padding: 10px 10px;
  white-space: nowrap;
  text-align: center;
}

.table td {
  border: 1px solid white;
  padding: 15px 10px;
  white-space: nowrap;
  text-align: center;
  overflow-x: auto;
}

.search-advanced {
  display: flex;
}

.search-btn {
  padding: 5px 20px;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.search-btn:hover {
  background-color: rgb(0, 77, 77);
}

.btn-show-search {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* jiseeki */
.popup-create {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.popup-create.show {
  display: block;
  opacity: 1;
}

.body-create {
  margin: 1% 5%;
  background-color: #f4f4f4;
  width: 90%;
  height: 95%;
  max-height: 95%;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* .popup-create.show .body-create {
  opacity: 1;
  transform: scale(1);
} */

.popup-create .body-create {
  opacity: 1;
  transform: scale(1);
}

.create-title {
  border-radius: 10px;
  background-color: white;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.close-btn {
  border: none;
  background-color: white;
}

.close-btn:hover {
  color: red;
}

.create-header {
  padding: 10px 10%;
}

.header-create-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid white;
}

.data-create-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 0;
  gap: 10px;
}

.span-number {
  width: 50px;
}

.header-item-name {
  width: 200px;
}

.create-header-advanced {
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.create-header-advanced.show {
  display: block;
  opacity: 1;
}

.create-btn-show-advanced {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.btn-show-advanced-popup {
  padding: 5px 30px;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.btn-show-advanced-popup:hover {
  background-color: rgb(0, 77, 77);
}

.table-create .table-container {
  max-height: 150px;
  overflow-y: scroll;
}

.add-column-create {
  padding: 10px 0;
}

.btn-add-column {
  padding: 2px 10px;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
}

.btn-add-column:hover {
  background-color: rgb(0, 77, 77);
}

.calculate-kingaku {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.comment {
  display: block;
  justify-content: left;
  align-items: center;
  margin-top: 5px;
}

.shukka-create-comment {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}

.gokei-kingaku-title {
  color: red;
}

.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.btn-entry {
  width: 80px;
  background-color: green;
  color: #f4f4f4;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-cancel {
  background-color: orange;
  color: #f4f4f4;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-entry:hover {
  background-color: darkgreen;
}

.btn-cancel:hover {
  background-color: darkorange;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

/* table create detail */
.text-name input {
  border: none;
}

.error-message {
  text-align: left;
  max-height: 40px;
  overflow-y: scroll;
  color: red;
  display: block;
  font-size: large;
  padding: 10px 10%;
}

#seihin-mei-detail {
  border: none;
}


#kingaku-detail {
  border: none !important;
}

.navbar {
  height: 100vh;
  width: 15%;
  background-color: darkcyan;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* display: flex;
  align-items: center; */
}

.body-list {
  width: 85%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* popup confirm */
.popup-confirm {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.753);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body-confirm {
  padding: 0;
  width: 20%;
  height: 200px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.modal-title-confirm {
  text-align: center;
  padding: 0 20px;
}

.modal-message-confirm {
  text-align: center;
  padding: 0 20px;
}

.modal-footer-confirm {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.modal-btn-confirm-cancel {
  background-color: orange;
  color: #f4f4f4;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
}

.modal-btn-confirm-cancel:hover {
  background-color: darkorange;
}

.modal-btn-confirm-ok {
  background-color: green;
  color: #f4f4f4;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.modal-btn-confirm-ok:hover {
  background-color: darkgreen;
}

.table-container table {
  width: 100%;
}

.table-list-shukka {
  max-height: 550px;
  overflow-y: scroll;
}